body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 769px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) {
  html {
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-sm {
  font-size: 0.9rem;
}

.text-df {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.3rem;
}

.text-xl {
  font-size: 1.6rem;
}

.text-xxl {
  font-size: 2rem;
}

.text-bold {
  font-weight: bold;
}
